<div class="resume-section-content">
    <h2 class="mb-5 fw-bold resume-section-header">EDUCATION</h2>
    <div class="d-flex flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Seneca College - Toronto, Canada</h3>
            <div class="fs-5">Computer Programming and Analysis</div>
            <div class="subheading">Advanced Diploma</div>
            <span class="text-dark">2021 - 2023</span>
            <p></p>
        </div>
    </div>
    <div class="d-flex flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">AMA Computer College - Tarlac</h3>
            <div class="fs-5">Computer Science</div>
            <div class="subheading">Bachelor of Science</div>
            <span class="text-dark">2016 - 2020</span>
            <p></p>
        </div>
    </div>
</div>

@code {

}
