<div class="resume-section-content">
    <h2 class="mb-5 fw-bold resume-section-header">EXPERIENCE</h2>
    <div class="d-flex flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">.NET Developer</h3>
            <div class="fs-5">CodeBiz IT Solutions</div>
            <span class="text-dark fs-6">June 2020 - July 2021</span>

            <p class="mt-3">
                Developed a web and windows application and Web API for a Canadian Geotechnical
                company.
            </p>

            <ul>
                <li>
                    <p>
                        My responsibilities were to analyze, design, and build new components
                        using the following technologies:
                    </p>
                    <p class="text-dark fw-light">
                        C# | Javascript | HTML | CSS | JQuery | ASP
                        .NET MVC | .NET | .NET Core | Entity Framework | Windows Forms | T-SQL |
                        MS SQL | Web API | RestSharp | MS Charts | Azure | IIS | Git | Design
                        Patterns | SOLID | OOP | Clean Architecture
                    </p>
                </li>
                <li>
                    <p>
                        Created Codebiz Auto Backup (an automated backup of database using C#
                        Console App, T-SQL and Windows Scheduler)
                    </p>
                </li>
                <li>
                    <p>
                        Analyzed, and created reports and graphs that required intensive
                        research on specific Engineering formulas.
                    </p>
                </li>
                <li>
                    <p>
                        Involved in the deployment of the API, Web, and Windows application in
                        Azure.
                    </p>
                </li>
                <li>
                    <p>
                        Improvised features based on client needs.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}
