<div class="resume-section-content">
    <h2 class="mb-5 fw-bold resume-section-header">SKILLS</h2>
    <div class="subheading mb-3">Programming Languages & Tools</div>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-html5 fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-windows fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-angular fa-3x"></i></li>
    </ul>

    <div class="subheading mb-3">Web Development</div>
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            ASP .NET MVC
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Entity Framework
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Javascript
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            HTML5
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            CSS
        </li>
    </ul>
    <br />
    <div class="subheading mb-3">Windows Application Development</div>
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            .NET Core
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Entity Framework
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Windows Forms
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            RestSharp
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            MS Charts
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Crystal Report
        </li>
    </ul>
    <br />
    <div class="subheading mb-3">API Development</div>
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            ASP .NET Core Web API
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            T-SQL
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Azure
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            IIS
        </li>
    </ul>
</div>

@code {

}
