<div class="resume-section-content">
    <section class="row">
        <p id="name"><h1>Jexequiel Ravni Arador</h1></p>
    </section>
    <section class="websites row">
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/ravniarador/"
               target=”_blank”><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/ravarador" target=”_blank”>
                <i class="fab fa-github"></i>
            </a>
            <!-- <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a> -->
            <a class="social-icon" href="https://www.facebook.com/ravni.arador.1/"
               target=”_blank”><i class="fab fa-facebook-f"></i></a>
        </div>
    </section>
</div>

@code {

}
