@page "/resume"
@using Portfolio.Blazor.Pages.Resume.Sections.About
@using Portfolio.Blazor.Pages.Resume.Sections.Experience
@using Portfolio.Blazor.Pages.Resume.Sections.Education
@using Portfolio.Blazor.Pages.Resume.Sections.Skills

<section class="resume-section" id="about">
    <About></About>
</section>

<hr class="m-0" />

<section class="resume-section" id="experience">
    <Experience></Experience>
</section>

<hr class="m-0" />

<section class="resume-section" id="education">
    <Education></Education>
</section>

<hr class="m-0" />

<section class="resume-section" id="skills">
    <Skills></Skills>
</section>

@code {

}

