body {
    /* TODO */
    /* background: url('../img/bg.jpg') no-repeat fixed center;  */
    background-color: rgb(247, 249, 252) !important;
    font-family: 'Barlow', sans-serif !important;
}

a, h1, h2, h3, h4 {
    font-family: 'Barlow', sans-serif;
}

.social-icon {
    font-size: 30px;
    margin: 10px;
    color: black;
    transition: font-size .2s;
}

    .social-icon:hover {
        font-size: 40px;
    }