@font-face {
    font-family: 'silkaregular';
    src: url('/wwwroot/css/font/silka/silka-regular-webfont.eot');
    src: url('/wwwroot/css/font/silka/silka-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/wwwroot/css/font/silka/silka-regular-webfont.woff2') format('woff2'), url('/wwwroot/css/font/silka/silka-regular-webfont.woff') format('woff'), url('/wwwroot/css/font/silka/silka-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silkaitalic';
    src: url('/wwwroot/css/font/silka/silka-regularitalic-webfont.eot');
    src: url('/wwwroot/css/font/silka/silka-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('/wwwroot/css/font/silka/silka-regularitalic-webfont.woff2') format('woff2'), url('/wwwroot/css/font/silka/silka-regularitalic-webfont.woff') format('woff'), url('/wwwroot/css/font/silka/silka-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* TODO */
    /* background: url('../img/bg.jpg') no-repeat fixed center;  */
    background-color: rgb(247, 249, 252) !important;
    font-family: 'silkaregular', Verdana, sans-serif !important;
}