<div class="d-flex flex-wrap justify-content-center py-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span id="logo" class="fs-4">JRPA</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <NavLink href="" class="nav-link text-dark text-decoration-none" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/resume" class="nav-link text-dark text-decoration-none">Resume</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/projects" class="nav-link text-dark text-decoration-none">Projects</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="mailto:me@ravarador.com" class="nav-link text-dark text-decoration-none">Contact Me</NavLink>
        </li>
    </ul>
</div>

@code {

}
