.nav-item {
    border: 1px rgba(0, 0, 0, 0) solid;
    transition: border 1s;
}

    .nav-item:hover {
        border: 1px black solid;
    }

@media screen and (max-width: 768px) {
    #logo {
        display: none;
    }
}